.create-box{  
    margin-top: 2%;
    text-align: center;
    padding: 20px;
    width: 400px;
    box-shadow: 5px 5px 15px lightgrey;
}
.create-input{
    width: 100%;
    padding-top: 10px;
    border:none;
    border-bottom: 1px solid black;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
}
.create-btn{
    margin-top: 20px;
    width: 90%;
    border-radius: 50px;
}
.fb{
    background-color: rgb(141, 141, 226);
    color:white;
}
.fb:hover{
    color: black;
}
.google{
    background-color: rgb(255, 106, 106);
    color:white;
}
.google:hover{
    color:black;
}